body {
  background: #fff; }

.container {
  margin: auto;
  width: 1020px; }

a.btn {
  background: url(../img/btn.png) no-repeat transparent;
  width: 105px;
  height: 26px;
  padding-top: 6px;
  display: inline-block;
  font-style: italic; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

aside.main {
  background: -moz-linear-gradient(top, #e1e1e1 59%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(59%, #e1e1e1), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e1e1e1 59%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e1e1e1 59%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e1e1e1 59%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e1e1e1 59%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */
  width: 190px;
  float: left; }
  aside.main figure {
    text-align: center;
    margin-top: 10px; }
  aside.main ul {
    margin-top: 20px; }
  aside.main li a {
    display: block;
    color: #535353;
    padding: 8px 0 8px 33px;
    font-size: 15px;
    text-decoration: none; }
    aside.main li a:hover {
      background: #fff; }

header.main {
  padding: 16px 0 10px 10px;
  width: 780px;
  float: left;
  overflow: hidden;
  background: url(../img/header-background.png) no-repeat transparent;
  height: 47px; }
  header.main input[type=submit] {
    background: url(../img/btn.png) no-repeat transparent;
    width: 105px;
    height: 32px;
    display: inline-block;
    font-style: italic;
    border: none;
    font-size: 12px; }
  header.main input[type=text] {
    padding: 5px;
    font-size: 12px; }
    header.main input[type=text].position {
      width: 239px;
      margin-right: 3px; }
    header.main input[type=text].address {
      width: 176px;
      margin-right: 8px; }
  header.main .user-info {
    width: 146px;
    background: #868686;
    float: right;
    color: #fff;
    margin-right: 10px; }
    header.main .user-info figure {
      margin: 6px;
      float: left; }
    header.main .user-info p {
      font-size: 10px;
      margin-bottom: 0px;
      line-height: 4px; }
      header.main .user-info p.welcome {
        margin-top: 14px; }

.main-options {
  margin-left: 20px;
  float: left;
  width: 770px;
  color: #535353; }
  .main-options h2 {
    font-size: 18px;
    margin-bottom: 5px; }
  .main-options h3 {
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid #868686;
    font-weight: normal;
    margin-top: 0px;
    padding-bottom: 5px; }
  .main-options nav li {
    float: left;
    text-align: center; }
    .main-options nav li a {
      display: block;
      min-height: 126px;
      width: 154px;
      outline: 1px solid #d8d8d8;
      background: -moz-linear-gradient(top, #ededed 21%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(21%, #ededed), color-stop(100%, rgba(255, 255, 255, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ededed 21%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ededed 21%, rgba(255, 255, 255, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #ededed 21%, rgba(255, 255, 255, 0) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #ededed 21%, rgba(255, 255, 255, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#00ffffff',GradientType=0 );
      /* IE6-9 */ }
    .main-options nav li img {
      margin-top: 20px; }
  .main-options table {
    width: 770px;
    border: 1px solid #d8d8d8;
    font-size: 15px;
    color: #535353; }
    .main-options table caption {
      text-align: left;
      margin-top: 25px;
      padding: 10px 5px;
      border: 1px solid #d8d8d8;
      border-bottom: none; }
    .main-options table thead th {
      background: #e6e6e6;
      font-weight: normal;
      padding: 10px 0 10px 10px;
      text-align: left;
      border: 1px solid #d8d8d8; }
    .main-options table tbody td {
      padding: 10px 0 10px 10px;
      border: 1px solid #d8d8d8; }

.content form {
  margin-top: 30px;
  float: left;
  margin-left: 378px; }
  .content form label {
    display: block;
    text-transform: uppercase;
    color: #868686; }
  .content form input[type=text], .content form input[type=password] {
    width: 274px;
    border: 1px solid #868686;
    color: #868686;
    padding: 3px; }
  .content form input[type=submit] {
    background: url(../img/btn.png) no-repeat transparent;
    width: 105px;
    height: 32px;
    padding-top: 0px;
    display: inline-block;
    font-style: italic;
    border: none;
    font-size: 14px;
    text-transform: lowercase;
    color: #868686; }

footer {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
  float: left;
  height: 150px;
  margin-bottom: 20px;
  background: -moz-linear-gradient(left, #ededed 61%, #ededed 62%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(61%, #ededed), color-stop(62%, #ededed), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ededed 61%, #ededed 62%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ededed 61%, #ededed 62%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ededed 61%, #ededed 62%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ededed 61%, #ededed 62%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative; }
  footer a {
    font-size: 15px;
    color: #535353;
    text-decoration: none; }
  footer ul {
    float: right; }
  footer nav li {
    float: left;
    margin-right: 15px;
    margin-top: 20px; }
  footer figure.logo {
    float: right;
    clear: right;
    margin-top: 20px; }
  footer h4 {
    font-weight: normal;
    color: #535353;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    margin: 0px; }
