// COLORS ---------------------------------
$gray-main: 	#E8E9EA;
$gray-medium: #d8d8d8;
$gray-dark: 	#868686;

// LAYOUT ---------------------------------
body{
	background: #fff; 
}

.container{
	margin: auto;
	width: 1020px;
}

a.btn{
	background: url(../img/btn.png) no-repeat transparent;
	width: 105px;
	height: 26px;
	padding-top: 6px;
	display: inline-block;
	font-style: italic;
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

// ASIDE MAIN ----------------------------
aside.main{
	background: -moz-linear-gradient(top,  rgba(225,225,225,1) 59%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(59%,rgba(225,225,225,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,225,225,1) 59%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,225,225,1) 59%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,225,225,1) 59%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,225,225,1) 59%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	width: 190px;
	float: left;

	figure{
		text-align: center;
		margin-top: 10px;
	}

	ul{
		margin-top: 20px;
	}

	li a{
		display: block;
		color: darken($gray-dark, 20%);
		padding: 8px 0 8px 33px;
		font-size: 15px;
		text-decoration: none;

		&:hover{
			background: #fff;
		}
	}
}

// HEADER MAIN --------------------------------
header.main{
	padding: 16px 0 10px 10px;
	width: 780px;
	float: left;
	overflow: hidden;
	background: url(../img/header-background.png) no-repeat transparent;
	height: 47px;

	input[type=submit]{
		background: url(../img/btn.png) no-repeat transparent;
		width: 105px;
		height: 32px;
		display: inline-block;
		font-style: italic;
		border: none;
		font-size: 12px;
	}

	input[type=text]{
		padding: 5px;
		font-size: 12px;

		&.position{
			width: 239px;
			margin-right: 3px;
		}

		&.address{
			width: 176px;
			margin-right: 8px;
		}
	}

	.user-info{
		width: 146px;
		background: $gray-dark;
		float: right;
		color: #fff;
		margin-right: 10px;

		figure{
			margin: 6px;
			float: left;
		}

		p{
			font-size: 10px;
			margin-bottom: 0px;
			line-height: 4px;

			&.welcome{
				margin-top: 14px;
			}
		}
	}
}

// MAIN OPTIONS
.main-options{
	margin-left: 20px;
	float: left;
	width: 770px;
	color: darken($gray-dark, 20%);

	h2{
		font-size: 18px;
		margin-bottom: 5px;
	}

	h3{
		width: 100%;
		font-size: 14px;
		border-bottom: 1px solid $gray-dark;
		font-weight: normal;
		margin-top: 0px;
		padding-bottom: 5px;
	}

	nav li{
		float: left;
		text-align: center;

		a{
			display: block;
			min-height: 126px;
			width: 154px;
			outline: 1px solid $gray-medium;
			background: -moz-linear-gradient(top,  rgba(237,237,237,1) 21%, rgba(255,255,255,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 21%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(237,237,237,1) 21%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(237,237,237,1) 21%,rgba(255,255,255,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(237,237,237,1) 21%,rgba(255,255,255,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
		}

		img{
			margin-top: 20px;
		}
	}

	table{
		width: 770px;
		border: 1px solid $gray-medium;
		font-size: 15px;
		color: darken($gray-dark, 20%);

		caption{
			text-align: left;
			margin-top: 25px;
			padding: 10px 5px;
			border: 1px solid $gray-medium;
			border-bottom: none;
		}

		thead th{
			background: #e6e6e6;
			font-weight: normal;
			padding: 10px 0 10px 10px;
			text-align: left;
			border: 1px solid $gray-medium;
		}

		tbody td{
			padding: 10px 0 10px 10px;
			border: 1px solid $gray-medium;
		}
	}
}

// FORM ------------------------------------
.content form{
	margin-top: 30px;
	float: left;
	margin-left: 378px;

	label{
		display: block;
		text-transform: uppercase;
		color: $gray-dark;
	}

	input[type=text], input[type=password]{
		width: 274px;
		border: 1px solid $gray-dark;
		color: $gray-dark;
		padding: 3px;
	}

	input[type=submit]{
		background: url(../img/btn.png) no-repeat transparent;
		width: 105px;
		height: 32px;
		padding-top: 0px;
		display: inline-block;
		font-style: italic;	
		border: none;
		font-size: 14px;
		text-transform: lowercase;
		color: $gray-dark;
	}
}

// FOOTER---------------------------------

footer{
	width: 100%;
	overflow: hidden;
	margin-top: 80px;
	float: left;
	height: 150px;
	margin-bottom: 20px;
	background: -moz-linear-gradient(left,  rgba(237,237,237,1) 61%, rgba(237,237,237,1) 62%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(61%,rgba(237,237,237,1)), color-stop(62%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(237,237,237,1) 61%,rgba(237,237,237,1) 62%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(237,237,237,1) 61%,rgba(237,237,237,1) 62%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(237,237,237,1) 61%,rgba(237,237,237,1) 62%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(237,237,237,1) 61%,rgba(237,237,237,1) 62%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;

	a{
		font-size: 15px;
		color: darken($gray-dark, 20%);
		text-decoration: none;
	}

	ul{
		float: right;
	}

	nav li{
		float: left;
		margin-right: 15px;
		margin-top: 20px;
	}

	figure.logo{
		float: right;
		clear: right;
		margin-top: 20px;
	}

	h4{
		font-weight: normal;
		color: darken($gray-dark, 20%);
		font-size: 15px;
		position: absolute;
		bottom: 20px;
		left: 30px;
		margin: 0px;
	}
}